
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{{ vars.iconpath }}/community-logo.png" alt="" width="200" height="150">
        <small class="d-block mb-3 text-muted">&copy; 1984-2048</small>
      </div>
      <div class="col-6 col-md">
        <h5>Projects</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://allsky.23-5.eu">Allsky</a></li>
          <li><a class="link-secondary" href="https://gmn.23-5.eu">Global Meteor Network</a></li>
          <li><a class="link-secondary" href="https://www.emsn.eu">EMSN</a></li>
          <li><a class="link-secondary" href="https://frequency-scanner.23-5.eu">Frequency Scanner</a></li>
          <li><a class="link-secondary" href="https://weather.23-5.eu">Weather Station</a></li>
          <li><a class="link-secondary" href="https://prediction.23-5.eu">Weather Prediction</a></li>
          <li><a class="link-secondary" href="https://corona.23-5.eu">Corona statistics</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>People</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://ansi.23-5.eu">Ansi</a></li>
          <li><a class="link-secondary" href="https://nerp.net/">Ben</a></li>
          <li><a class="link-secondary" href="https://example.com">Chris</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://community.motionlab.berlin">Community at Motionlab</a></li>
          <li><a class="link-secondary" href="https://motionlab.berlin">Hosted at Motionlab</a></li>
          <li><a class="link-secondary" href="https://motionlab.berlin/en/imprint/">Imprint</a></li>
          <li><a class="link-secondary" href="https://motionlab.berlin/en/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
</main>
  </body>
</html>
