{% include 'header.html' %}

    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" target="_blub" href="https://github.com/CSSEGISandData/COVID-19">                                                        John Hopkins University</a>
        <a class="p-2 text-dark" target="_blub" href="https://npgeo-corona-npgeo-de.hub.arcgis.com/">                                                     Corona Hub</a>
        <a class="p-2 text-dark" target="_blub" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"> World Dashboard</a>
        <a class="p-2 text-dark" target="_blub" href="https://www.arcgis.com/apps/opsdashboard/index.html#/ead3c6475654481ca51c248d52ab9c61">             Europa Dashboard</a>
        <a class="p-2 text-dark" target="_blub" href="https://experience.arcgis.com/experience/478220a4c454480e823b17327b2bf1d4/page/page_1/">            Germany Dashboard</a>
        <a class="p-2 text-dark" target="_blub" href="https://www.berlin.de/corona/lagebericht/desktop/corona.html">                                      Berlin Dashboard</a>
        <a class="p-2 text-dark" target="_blub" href="https://test-to-go.berlin/">                                                                        Test Centers Berlin</a>
        <a class="p-2 text-dark" target="_blub" href="https://impfdashboard.de/">                                                                         Impf Dashboard Germany</a>
        <a class="p-2 text-dark" target="_blub" href="https://interaktiv.morgenpost.de/corona-impfungen-deutschland-bundeslaender-weltweit/">             Impf Dashboard BM</a>
    </nav>
    <a class="btn btn-outline-primary" target="_blub" href="https://impfstoff.link">Get vacinated</a>
  </header>

  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ vars.day}}. {{ vars.month_name}} {{ vars.year}}</h1>
    </div>

    <table class="table table-striped">
      <tbody>

        <tr>
            <td class="align-middle">   Infections           </td>
            <td class="text-center align-middle">

                <a href="New-vs-Existing-0-2.png" target="_blub">
                    <img src="New-vs-Existing-0-2.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-vs-Existing-3-10.png" target="_blub">
                    <img src="New-vs-Existing-3-10.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-vs-Existing-10-20.png" target="_blub">
                    <img src="New-vs-Existing-10-20.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-vs-Existing-20-30.png" target="_blub">
                    <img src="New-vs-Existing-20-30.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   Death           </td>
            <td class="text-center align-middle">

                <a href="New-Death-vs-Existing-0-3.png" target="_blub">
                    <img src="New-Death-vs-Existing-0-3.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-Death-vs-Existing-4-10.png" target="_blub">
                    <img src="New-Death-vs-Existing-4-10.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-Death-vs-Existing-10-20.png" target="_blub">
                    <img src="New-Death-vs-Existing-10-20.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="New-Death-vs-Existing-20-30.png" target="_blub">
                    <img src="New-Death-vs-Existing-20-30.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   Top 5 last weeks </td>
            <td class="text-center align-middle">

                <a href="Delta.png" target="_blub">
                    <img src="Delta.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="Delta-Death.png" target="_blub">
                    <img src="Delta-Death.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   R for Germany </td>
            <td class="text-center align-middle">

                <a href="R4.png" target="_blub">
                    <img src="R4.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="R7.png" target="_blub">
                    <img src="R7.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   Days until doubled in Germany </td>
            <td class="text-center align-middle">

                <a href="Doubled.png" target="_blub">
                    <img src="Doubled.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   Confired over time </td>
            <td class="text-center align-middle">

                <a href="Confirmed-0-10.png" target="_blub">
                    <img src="Confirmed-0-10.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="Confirmed-10-20.png" target="_blub">
                    <img src="Confirmed-10-20.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="Confirmed-20-30.png" target="_blub">
                    <img src="Confirmed-20-30.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

          <tr>
            <td class="align-middle">   Death over time </td>
            <td class="text-center align-middle">

                <a href="Death-0-10.png" target="_blub">
                    <img src="Death-0-10.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="Death-10-20.png" target="_blub">
                    <img src="Death-10-20.png" alt="image" width=500 class="img-thumbnail">
                </a>
                <br>
                <a href="Death-20-30.png" target="_blub">
                    <img src="Death-20-30.png" alt="image" width=500 class="img-thumbnail">
                </a>

            </td>
          </tr>

      </tbody>
    </table>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-4">Average R for Berlin {{  "%.2f"|format(berlinavr)   }}</h2>
        {{ berlin }}
    </div>
    {% include "footer.html" %}
